@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family:Poppins;
    src:url('../../public/font/Poppins.ttf')
  }
  
  @font-face {
    font-family:PoppinsBold;
    src:url('../../public/font/Poppins-Bold.ttf')
  }

  * {
    font-family: Poppins
  }

  :root {
    --swiper-pagination-color: rgb(34, 54, 75);
    --swiper-pagination-bullet-inactive-color: whitesmoke;
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    --swiper-pagination-bullet-opacity: 1;
    --color-primary: rgb(34, 54, 75);
    --color-secondary: rgb(51, 77, 105);
  }
}

@layer utilities {
  .poppins-bold {
    font-family: PoppinsBold;
  }
}

/* Swiper */
.swiper-pagination-bullet {
  padding: .2rem 1.5rem;
  border-radius: 50rem !important;
  border: solid 1.5px var(--color-primary);
  position: relative;
  overflow: hidden;
}

.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: whitesmoke;
  animation: anjay 4s forwards linear;
  transition-duration: 4s;
}

@keyframes anjay {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%)
  }
}