@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family:Poppins;
    src:url('../../public/font/Poppins.ttf')
  }
  
  @font-face {
    font-family:PoppinsBold;
    src:url('../../public/font/Poppins-Bold.ttf')
  }

  * {
    font-family: Poppins
  }

  :root {
    --swiper-pagination-color: rgb(34, 54, 75);
    --swiper-pagination-bullet-inactive-color: whitesmoke;
    --swiper-pagination-bullet-inactive-opacity: 0.8;
    --swiper-pagination-bullet-opacity: 1;
    --color-primary: rgb(34, 54, 75);
    --color-secondary: rgb(51, 77, 105);
  }
}

@layer utilities {
  .poppins-bold {
    font-family: PoppinsBold;
  }
}

/* Swiper */
.swiper-pagination-bullet {
  padding: .2rem 1.5rem;
  border-radius: 50rem !important;
  border: solid 1.5px var(--color-primary);
  position: relative;
  overflow: hidden;
}

.swiper-pagination-bullet-active::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: whitesmoke;
  animation: anjay 4s forwards linear;
  transition-duration: 4s;
}

@keyframes anjay {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%)
  }
}

.card {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: #1e1b4b;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.utility-card-shade {
  border-image: fill 0 linear-gradient(#00000000, #0000005c, #000000a6, #000000bb);  
}

